In [1]:
import numpy as np
import pandas as pf
import calendar

## Dictionary

In [2]:
stud = {"Name":['Jonny','John','Rohan'],
       "Mark" :[50,60,70],
       "City":['Pune','Mumbai','Delhi']
      }

In [3]:
stud

{'Name': ['Jonny', 'John', 'Rohan'],
 'Mark': [50, 60, 70],
 'City': ['Pune', 'Mumbai', 'Delhi']}

## Dictionary With list

In [4]:
lst = ['A','B','C']

In [5]:
lst1 ={'Name':lst}

In [6]:
lst1

{'Name': ['A', 'B', 'C']}

## Using with DataFrame

In [7]:
df = pf.DataFrame(stud)

In [8]:
df

    Name  Mark    City
0  Jonny    50    Pune
1   John    60  Mumbai
2  Rohan    70   Delhi

In [9]:
df.describe

<bound method NDFrame.describe of     Name  Mark    City
0  Jonny    50    Pune
1   John    60  Mumbai
2  Rohan    70   Delhi>

In [10]:
df.info() # Checking for overview of data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Mark    3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [11]:
df.shape

(3, 3)

In [12]:
df.count() # count the data each from list

Name    3
Mark    3
City    3
dtype: int64

In [13]:
df['Mark'].max() # Taking the Max values amoung the Marks

70

In [14]:
df

    Name  Mark    City
0  Jonny    50    Pune
1   John    60  Mumbai
2  Rohan    70   Delhi

## Slicing

In [15]:
df.iloc[0,:] # Picking the First value

Name    Jonny
Mark       50
City     Pune
Name: 0, dtype: object

In [16]:
print(df.iloc[1,:1])

Name    John
Name: 1, dtype: object

In [17]:
df.iloc[2,:]

Name    Rohan
Mark       70
City    Delhi
Name: 2, dtype: object

## Calendar

In [18]:
cal = calendar.month(2020,10)
print(cal)

    October 2020
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [19]:
df1 = np.random.rand(1,4) # Random Function
df1

array([[0.75150844, 0.80666893, 0.52631356, 0.65596173]])

## DataFrame with Numpy and random function

In [20]:
df1 = pf.DataFrame(np.random.rand(3,3))
df1

          0         1         2
0  0.850054  0.684287  0.469765
1  0.546788  0.149131  0.359047
2  0.699880  0.650282  0.379682

## Take User choice Values
### Check Age availability to Get Driving license

In [21]:
age = input("Enter the age\n")

age = int(age)
if(age>18):
    print("Eligible for the Drive License.")
elif age ==0:
    print("Please Enter Valid Age!")
else:
    print(f'Message: Applicant is under age. \n License Holding Minimum Age : 18  \n Current Age: {age} \n Please Visit After {(18) -(age)} year')

Enter the age
5
Message: Applicant is under age.
 License Holding Minimum Age : 18
 Current Age: 5
 Please Visit After 13 year