In [1]:
import glob
import numpy as np
import pandas as pd

In [2]:
print("Enter the path")
for path in glob.glob("C:/Users/Admin/Data_Science/QXI_DataScience_Monish/*"):
    print(path)

Enter the path
C:/Users/Admin/Data_Science/QXI_DataScience_Monish\Analytics_Packages2.ipynb
C:/Users/Admin/Data_Science/QXI_DataScience_Monish\Numpy
C:/Users/Admin/Data_Science/QXI_DataScience_Monish\numpy.ipynb
C:/Users/Admin/Data_Science/QXI_DataScience_Monish\Pandas
C:/Users/Admin/Data_Science/QXI_DataScience_Monish\pythonBasic2.ipynb
C:/Users/Admin/Data_Science/QXI_DataScience_Monish\README.md
C:/Users/Admin/Data_Science/QXI_DataScience_Monish\test.txt

In [3]:
path = glob.glob("C:/Users/Admin/Data_Science/QXI_DataScience_Monish/**/*",recursive=True)

In [4]:
path

['C:/Users/Admin/Data_Science/QXI_DataScience_Monish\\Analytics_Packages2.ipynb',
 'C:/Users/Admin/Data_Science/QXI_DataScience_Monish\\Numpy',
 'C:/Users/Admin/Data_Science/QXI_DataScience_Monish\\numpy.ipynb',
 'C:/Users/Admin/Data_Science/QXI_DataScience_Monish\\Pandas',
 'C:/Users/Admin/Data_Science/QXI_DataScience_Monish\\pythonBasic2.ipynb',
 'C:/Users/Admin/Data_Science/QXI_DataScience_Monish\\README.md',
 'C:/Users/Admin/Data_Science/QXI_DataScience_Monish\\test.txt',
 'C:/Users/Admin/Data_Science/QXI_DataScience_Monish\\Numpy\\Analytics_Packages2.ipynb',
 'C:/Users/Admin/Data_Science/QXI_DataScience_Monish\\Numpy\\data.csv',
 'C:/Users/Admin/Data_Science/QXI_DataScience_Monish\\Pandas\\coviddata.csv',
 'C:/Users/Admin/Data_Science/QXI_DataScience_Monish\\Pandas\\pandas.ipynb']

In [5]:
arr2 = np.arange(1,10)
arr3 = np.array([1,5,6,9,6])

In [6]:
df1 = pd.DataFrame({'id':[1,2,3,4,5]})
df2 = pd.DataFrame({'id':[3,2,6,7,9]})

In [7]:
pd.merge(df1,df2, on='id',how = 'inner')

   id
0   2
1   3

## Covid Report

In [8]:
path = 'C:/Users/Admin/Data_Science/QXI_DataScience_Monish/Pandas'
filename = glob.glob(path +  '/*csv')
# print(filename);
covid = pd.DataFrame()
for f in filename:
    df = pd.read_csv(f)
    covid = covid.append(df,ignore_index=True,sort=True)
    print(covid)

            Date Negative  Positive                        State  TotalSamples
0     2020-04-17     1210      12.0  Andaman and Nicobar Islands        1403.0
1     2020-04-24      NaN      27.0  Andaman and Nicobar Islands        2679.0
2     2020-04-27      NaN      33.0  Andaman and Nicobar Islands        2848.0
3     2020-05-01      NaN      33.0  Andaman and Nicobar Islands        3754.0
4     2020-05-16      NaN      33.0  Andaman and Nicobar Islands        6677.0
...          ...      ...       ...                          ...           ...
5961  2020-10-02      NaN       NaN                  West Bengal     3314598.0
5962  2020-10-03      NaN       NaN                  West Bengal     3355726.0
5963  2020-10-04      NaN       NaN                  West Bengal     3397988.0
5964  2020-10-05      NaN       NaN                  West Bengal     3438128.0
5965  2020-10-06      NaN       NaN                  West Bengal     3480510.0

[5966 rows x 5 columns]

In [9]:
covid['State'].unique();

In [10]:
covid.columns

Index(['Date', 'Negative', 'Positive', 'State', 'TotalSamples'], dtype='object')

In [11]:
covid['State'].nunique()

35

In [12]:
covid.head(10)

         Date Negative  Positive                        State  TotalSamples
0  2020-04-17     1210      12.0  Andaman and Nicobar Islands        1403.0
1  2020-04-24      NaN      27.0  Andaman and Nicobar Islands        2679.0
2  2020-04-27      NaN      33.0  Andaman and Nicobar Islands        2848.0
3  2020-05-01      NaN      33.0  Andaman and Nicobar Islands        3754.0
4  2020-05-16      NaN      33.0  Andaman and Nicobar Islands        6677.0
5  2020-05-19      NaN      33.0  Andaman and Nicobar Islands        6965.0
6  2020-05-20      NaN      33.0  Andaman and Nicobar Islands        7082.0
7  2020-05-21      NaN      33.0  Andaman and Nicobar Islands        7167.0
8  2020-05-22      NaN      33.0  Andaman and Nicobar Islands        7263.0
9  2020-05-23      NaN      33.0  Andaman and Nicobar Islands        7327.0

In [13]:
covid['State'] =='West Bengal'

0       False
1       False
2       False
3       False
4       False
        ...
5961     True
5962     True
5963     True
5964     True
5965     True
Name: State, Length: 5966, dtype: bool

In [14]:
covid.loc[covid['State']=='West Bengal']

            Date Negative  Positive        State  TotalSamples
5781  2020-04-01      568      37.0  West Bengal         659.0
5782  2020-04-04      NaN       NaN  West Bengal        1042.0
5783  2020-04-06      NaN       NaN  West Bengal        1301.0
5784  2020-04-07      NaN       NaN  West Bengal        1487.0
5785  2020-04-09      NaN       NaN  West Bengal        1889.0
...          ...      ...       ...          ...           ...
5961  2020-10-02      NaN       NaN  West Bengal     3314598.0
5962  2020-10-03      NaN       NaN  West Bengal     3355726.0
5963  2020-10-04      NaN       NaN  West Bengal     3397988.0
5964  2020-10-05      NaN       NaN  West Bengal     3438128.0
5965  2020-10-06      NaN       NaN  West Bengal     3480510.0

[185 rows x 5 columns]

In [15]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5966 entries, 0 to 5965
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          5966 non-null   object
 1   Negative      3418 non-null   object
 2   Positive      4494 non-null   float64
 3   State         5966 non-null   object
 4   TotalSamples  5966 non-null   float64
dtypes: float64(2), object(3)
memory usage: 233.2+ KB

In [16]:
covid['State'].drop_duplicates(keep='first').head(10)

0                    Andaman and Nicobar Islands
145                               Andhra Pradesh
325                            Arunachal Pradesh
495                                        Assam
656                                        Bihar
837                                   Chandigarh
1017                                Chhattisgarh
1191    Dadra and Nagar Haveli and Daman and Diu
1341                                       Delhi
1522                                         Goa
Name: State, dtype: object

In [17]:
countries = covid['State'].unique()

In [18]:
type(countries),countries

(numpy.ndarray,
 array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
        'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
        'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu',
        'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
        'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh',
        'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
        'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
        'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
        'Uttarakhand', 'West Bengal'], dtype=object))

In [22]:
covid.isnull().sum()

Date               0
Negative        2548
Positive        1472
State              0
TotalSamples       0
dtype: int64

In [23]:
covid.isnull()

       Date  Negative  Positive  State  TotalSamples
0     False     False     False  False         False
1     False      True     False  False         False
2     False      True     False  False         False
3     False      True     False  False         False
4     False      True     False  False         False
...     ...       ...       ...    ...           ...
5961  False      True      True  False         False
5962  False      True      True  False         False
5963  False      True      True  False         False
5964  False      True      True  False         False
5965  False      True      True  False         False

[5966 rows x 5 columns]

In [24]:
covid['Negative'].fillna(100)

0       1210
1        100
2        100
3        100
4        100
        ...
5961     100
5962     100
5963     100
5964     100
5965     100
Name: Negative, Length: 5966, dtype: object

In [26]:
covid.isnull().sum()

Date               0
Negative        2548
Positive        1472
State              0
TotalSamples       0
dtype: int64

In [32]:
covid.corr

<bound method DataFrame.corr of             Date Negative  Positive                        State  TotalSamples
0     2020-04-17     1210      12.0  Andaman and Nicobar Islands        1403.0
1     2020-04-24      NaN      27.0  Andaman and Nicobar Islands        2679.0
2     2020-04-27      NaN      33.0  Andaman and Nicobar Islands        2848.0
3     2020-05-01      NaN      33.0  Andaman and Nicobar Islands        3754.0
4     2020-05-16      NaN      33.0  Andaman and Nicobar Islands        6677.0
...          ...      ...       ...                          ...           ...
5961  2020-10-02      NaN       NaN                  West Bengal     3314598.0
5962  2020-10-03      NaN       NaN                  West Bengal     3355726.0
5963  2020-10-04      NaN       NaN                  West Bengal     3397988.0
5964  2020-10-05      NaN       NaN                  West Bengal     3438128.0
5965  2020-10-06      NaN       NaN                  West Bengal     3480510.0

[5966 rows x 5 columns]>

In [43]:
meanss = covid.Negative.median

In [50]:
covid.fillna(meanss,inplace=True)

In [51]:
covid.isnull().sum()

Date            0
Negative        0
Positive        0
State           0
TotalSamples    0
dtype: int64